Temp
Doxygen
JIN_PFE.CSharp.csproj
JIN_PFE.CSharp.Plugins.csproj
*.sln
.vs
Library
obj
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
JIN_PFE.CSharp.csproj
JIN_PFE.CSharp.Plugins.csproj
JIN_PFE.v11.suo
/Temp
/Doxygen
/RedAndBlue.CSharp.csproj
/RedAndBlue.CSharp.Plugins.csproj
/.vs
/Library
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/JIN_PFE.CSharp.csproj
/JIN_PFE.CSharp.Plugins.csproj
/JIN_PFE.v11.suo
/Temp/*
/Doxygen/*
/.vs/*
/Library/*
/obj/*
/*.userprefs
