Temp
Doxygen
Aperture.CSharp.csproj
Aperture.CSharp.Plugins.csproj
*.sln
.vs
Library
obj
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Aperture.CSharp.csproj
Aperture.CSharp.Plugins.csproj
Aperture.v11.suo
/Aperture/Temp
/Aperture/Doxygen
/Aperture/RedAndBlue.CSharp.csproj
/Aperture/RedAndBlue.CSharp.Plugins.csproj
/Aperture/.vs
/Aperture/Library
/Aperture/obj
/Aperture/Assembly-CSharp.csproj
/Aperture/Assembly-CSharp-firstpass.csproj
/Aperture/Aperture.CSharp.csproj
/Aperture/Aperture.CSharp.Plugins.csproj
/Aperture/Aperture.v11.suo
/Aperture/Temp/*
/Aperture/Doxygen/*
/Aperture/.vs/*
/Aperture/Library/*
/Aperture/obj/*
/Aperture/*.userprefs
Aperture/Assets/Prefabs.meta
*.meta
Aperture/Assets/Prefabs.meta
Aperture/Assets/Prefabs.meta
*.meta
