Temp
Doxygen
Aperture.CSharp.csproj
Aperture.CSharp.Plugins.csproj
*.sln
.vs
Library
obj
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Aperture.CSharp.csproj
Aperture.CSharp.Plugins.csproj
Aperture.v11.suo
/Temp
/Doxygen
/RedAndBlue.CSharp.csproj
/RedAndBlue.CSharp.Plugins.csproj
/.vs
/Library
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/Aperture.CSharp.csproj
/Aperture.CSharp.Plugins.csproj
/Aperture.v11.suo
/Temp/*
/Doxygen/*
/.vs/*
/Library/*
/obj/*
/*.userprefs
